<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CozifyWindows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <CozifyWindows.Properties.Settings>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="token" serializeAs="String">
                <value />
            </setting>
            <setting name="hubs" serializeAs="String">
                <value />
            </setting>
            <setting name="selected_hub" serializeAs="String">
                <value />
            </setting>
            <setting name="devices" serializeAs="String">
                <value />
            </setting>
            <setting name="selected_temp_sensors" serializeAs="String">
                <value />
            </setting>
            <setting name="temperature_log_seconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="selected_test_device" serializeAs="String">
                <value />
            </setting>
            <setting name="spot_price_list" serializeAs="String">
                <value />
            </setting>
            <setting name="selected_spot_devices" serializeAs="String">
                <value />
            </setting>
            <setting name="spot_hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timer_spot_price_seconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ip_address_mode" serializeAs="String">
                <value>Automatic</value>
            </setting>
        </CozifyWindows.Properties.Settings>
    </userSettings>
</configuration>