<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CozifyWindows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <applicationSettings>
        <CozifyWindows.Properties.Settings>
            <setting name="telldus_user" serializeAs="String">
                <value />
            </setting>
            <setting name="telldus_password" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_user" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_password" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_server" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_port" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_from_address" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp_to_address" serializeAs="String">
                <value />
            </setting>
        </CozifyWindows.Properties.Settings>
    </applicationSettings>
</configuration>
